// VARIABLES
$nombredelavariable: green;
header{background-color: $nombredelavariable;}

$colorPrimario: violet;
$colorSecundario: Orange;
$bgPrimario: yellow;
$bgSecundario: green;
$colorNegro: black;
$colorBlanco: white;

h3{color: $colorPrimario;}